@using WebApplication1.Models.DTOs;
@model SelectedCategoryModel

@{
    ViewData["Title"] = "Титульная страница";
}

<div class="d-flex flex-row gap-1">
    <div class="col-3 d-none d-sm-block h-100" id="menu">
    </div>
    <div class="col-12 col-sm-9">
        <div class="card w-100 d-flex flex-column">
            <h1 class="mt-4 ms-3">Товары по выбранной категории: @Model.Category</h1>
            <div class="pb-4 d-flex flex-row flex-wrap mt-4">
                @foreach (var product in Model.ProductsWithFavs)
                {
                    <div class="card rounded-3 card-width">
                        <div class="card-img rounded-top">
                            <!--Элемент звёздочка-->
                            @if (User?.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <label class="position-absolute" style="right: 15px; top: 15px; filter: drop-shadow(0px 0px 3px #000);">
                                    <input class="star" @(product.IsFavorite ? "checked" : "") type="checkbox"/>
                                    <span class="icon-star" onclick="toFavorite('@product.Id');"></span>
                                </label>
                            }
                            <img class="rounded-top" src="~/Uploads/@product.WrapperImage" style="width: 100%; height: 200px;"/>
                        </div>
                        <!--Контейнер с названием и описанием товара-->
                        <div class="card-body">
                            <h5 class="crop-text-3 text-title">@product.Name</h5>
                            <p class="crop-text-4 text-description">@product.Description</p>
                            <a class="btn btn-primary w-100" href="/Products/Get/@product.Id">Подробнее</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#menu').load('@Url.Content("/Categories/GetAllPartial")');
    </script>
}